<h1>Salut</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
    <%= movie.title %>
    <%= movie.rating %>
    <%= image_tag(movie.poster_url, alt: "movie image", class: "tbc") %>
    </li>
  <% end %>
</ul>
